log/*
tmp/**/*
db/*.db
db/*.sqlite3
public/system
*.DS_Store
coverage/*
*.swp
doc/plugins/*
doc/api/*
!.keep
config/initializers/hoptoad.rb
config/s3.yml
config/database.yml
vendor/gems/bcrypt-ruby-2.0.5/*/*.o
vendor/gems/bcrypt-ruby-2.0.5/*/*.so
vendor/gems/*/.specification
vendor/gems/bcrypt-ruby-2.0.5/ext/Makefile 
config/aws_sdb_proxy.yml
